<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
<listeners>
<listener class-name="testScripts.Listerners">

</listener>
</listeners>
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
     <!-- <class name="testScripts.QALegendUserTest">
      
      <methods>-->
      <!--<include name="addClient"></include>-->
      <!--
      </methods>
      </class>-->
      <class name="testScripts.QALegendUserTest">
      <methods>
       <include name="editClient"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
