<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
<listeners>
<listerner class-name="testScripts.Listerners">

</listerner>
</listeners>
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="testScripts.QALegendItemsTest"/>
      <class name="testScripts.QALegendAllProjectsTest"/>
      <class name="testScripts.QALegendUserTest"/>
      <class name="testScripts.QALegendInvoiceTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
