<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
	<listeners>
		<listener class-name="testScripts.Listerners">

		</listener>
	</listeners>
	<test thread-count="5" name="Test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="testScripts.QALegendUserTest">
      
      <methods>
			<include name="addClient"></include>
			<include name="editClient"></include>
			<include name="deleteClient"></include>
			
      </methods>
      </class>
			<class name="testScripts.QALegendItemsTest">
      
      <methods>
			<include name="addItems"></include>
			<include name="deleteItems"></include>
			<include name="deleteClient"></include>
			
      </methods>
      </class>
			<class name="testScripts.QALegendInvoiceTest">
				<methods>
					<include name="addInvoice"></include>
					<include name="addPayment"></include>
				</methods>
			</class>
			<class name="testScripts.QALegendAllProjectsTest">
      
      <methods>
			<include name="addProject"></include>
			<include name="deleteProject"></include>
			<include name="editingProject"></include>
			
      </methods>
      </class>
		</classes>
	</test> 
	
</suite> 
 

